@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');

body {
	font-family: 'Raleway';
	background-image: url("/bg.png");
}

div.container {
	padding-top: 50px;
    margin: auto;
    text-align: center;
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

div.header {
	padding: none;
	height: 50px;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: baseline;
}

div.header div.cell {
	/*align-self: flex-end;*/
	padding: 0px 20px 0px 20px;
	text-align: center;
}

.material-icons { 
	font-size: 24px;
	text-align: center;
}

div.todos {
    overflow-y: auto;
    height: 65vh;
}

div.row {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: #e6e6ff;
	transition: .2s;
}

div.row:nth-child(even) {
	background-color: #ccccff;
}

div.row:hover {
	background-color: #9999ff;
}

div.cell {
	padding: 15px;
	font-size: 20px;
	text-align: center;
}

div.cell:first-child {
	flex-grow: 3;
	text-align: left;
}

div.bottom {
	padding: 0;
}

input[type=text] {
	width: 75%;
	height: 50px;

	font-size: 24px;

	outline: none;
	border: none;
	
	border-bottom: 2px dotted #ffbb99;
}

::-moz-placeholder {
	color: #ffbb99;
}

button {
	font-size: 16px;
	width: 24%;
	height: 50px;

	background-color: #ffbb99;
	border: 1px solid #ffbb99;

	transition: .2s
}

button:hover {
	background-color: #ff9966;
}

div.bottom button {
	width: 100%;
}

h1 {
	padding: 0;
	margin: 0;
	color: #72728F;
}