@import url('https://fonts.googleapis.com/css?family=Nunito|Raleway');

* {
	font-family: 'Raleway';
}
body {
	background-image: url("/bg.png");
	/*overflow-y: hidden;*/
}

div.container {
	padding-top: 3vh;
	padding-bottom: 3vh;
    margin: auto;

    text-align: center;

    width: 40%;
    height: 90vh;

    display: flex;
    flex-direction: column;
}

form div.row {
	background: none;
	justify-content: space-between;
}

form div.row:hover {
	background: none;
}

div.header {
	display: block;
	
	padding: none;
	width: 100%;
}



div.todos {
    overflow-y: auto;
}

	.material-icons { 
		font-size: 24px;
		text-align: center;
	}


div.row {
	display: flex;
	flex-direction: row;

	width: 100%;
	
	background-color: #e6e6ff;
	border-bottom: 1px dotted #aaa;
	
	transition: .2s;
}

	div.row:nth-child(even) {
		background-color: #ccccff;
	}

	div.row:last-child {
		border: none;
	}

	div.row:hover {
		background-color: #9999ff;
		color: #fff;
	}



div.cell {
	padding: 15px;
	font-size: 20px;
	text-align: center;
}

	div.cell:first-child {
		flex-grow: 3;
		text-align: left;
	}



input[type=text] {
	width: 74%;
	height: 50px;

	font-size: 24px;
	color: #ffbb99;

	outline: none;
	border: none;
	
	border-bottom: 2px dotted #ffbb99;
}



button {
	width: 24%;

	font-size: 16px;
	color: #e64900;

	background-color: #ffbb99;
	border: 1px solid #ffbb99;

	transition: .2s
}

	button:hover {
		background-color: #ff9966;
	}



h1 {
	color: #72728F;
}



div.todos::-webkit-scrollbar {
    width: .5em;
}

	div.todos::-webkit-scrollbar-track {
		background-color: #ffeee6;
	}
	
	div.todos::-webkit-scrollbar-thumb {
	background-color: #ffbb99;
	outline: 1px solid #ffbb99;
	}



a:link, a:visited, a:active {
	text-decoration: none;
	transition: .2s;
	color: #72728F;
}

	a:hover {
		color: #fff;
	}